.social-share-container {
  @include flex-center();
  background: $black;
  padding: 18px 12px;
  margin: 30px -12px 0;
  flex-direction: column;
  justify-content: space-between;
  @media all and ( min-width: $screen-xs ) {    
    padding: 18px 30px;
    margin: 30px -30px 0;
  }

  @media all and ( min-width: $screen-sm ) {
    flex-direction: row;
  }
    
  h3 {
    font-family: 'Bangers', sans-serif;
    letter-spacing: 2px;
    color: $white;
    font-size: 30px;
    display: block;
    margin: 0;
    @media all and ( min-width: 450px ) {
      display: inline-block;
    }
  }

  .social-share-link-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 18px;
    margin-left: 0;
    @media all and ( min-width: $screen-sm ) {
      margin-top: 0;
      margin-left: 18px;
    }

    .social-share-button {
      display: flex;

      svg { 
        fill: $white;
        width: 24px;
        height: 24px;
        @media all and ( min-width: $screen-sm ) {
          width: 32px;
          height: 32px;
        }
      }

      &:hover,
      &:focus {
        svg { fill: $grey; }
      }    
    }
  }
}
