div.social-container {
  @include flex-center;
  
  a {
    display: flex;
    margin: 0 16px;

    svg {
      height: 22px;
      width: 22px;
      @media all and ( min-width: $screen-xs ) {
        height: 26px;
        width: 26px;
      }
    }
  }
}
