.social-share-container {
  @include flex-center();
  background: $black;
  padding: 18px 30px;
  margin: 30px -30px 0;
  justify-content: space-between;
    
  h3 {
    font-family: 'Bangers', sans-serif;
    letter-spacing: 2px;
    color: $white;
    font-size: 30px;
    display: block;
    margin: 0;
    @media all and ( min-width: 450px ) {
      display: inline-block;
    }
  }

  .social-share-button {
    display: flex;

    svg { fill: $white; }

    &:hover,
    &:focus {
      svg { fill: $grey; }
    }    
  }
}
