.social-container {
  @include flex-center;
  
  a {
    // padding: 10px 12px 2px;
    margin: 0 16px;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
     
      svg {
        fill: $black;
      }
    }

    svg {
      height: 22px;
      width: 22px;
      @media all and ( min-width: $screen-xs ) {
        height: 26px;
        width: 26px;
      }
    }
  }
}
