.textified-container {
  max-width: 500px;
  margin: 0 auto;

  button {
    display: -moz-box !important; // Required for firefox on windows
    cursor: pointer;
    margin: 32px auto;
    border: none;
    font-weight: 600;
    background: $black;
    color: $white;
    border-radius: 4px;
    font-size: 80%;

    &:hover { background: $grey; }
    &:focus {
      outline: 1px dotted $white;
      outline-offset: -2px;
      background: $grey;
    }
    
    svg {
      transform: rotate( 90deg );
      fill: $white;
      margin-left: 8px;

      &.flip {
        transform: rotate( 270deg );
      }
    }
  }

  .textified-text-container {
    padding: 16px;
    border: 2px dashed $black;
    margin: 32px 0;
    text-align: left;

    h3 {
      font-family: 'Bangers', sans-serif;
      letter-spacing: 2px;
      font-size: 40px;
      margin: 0;
    }
    
    p {
      margin: 24px 0 0;
      font-size: 20px;
      line-height: 28px;
    }
    
    hr {
      margin: 24px 0;
      border-top: 2px dashed $black;
      background: $white;
    }
  }
}
