.textified-container {
  max-width: 500px;
  margin: 0 auto;

  button.textified-button {
    display: -moz-box !important; // Required for firefox on windows
    cursor: pointer;
    margin: 30px auto;
    border: none;
    font-weight: 600;
    background: $black;
    color: $white;
    border-radius: 4px;
    font-size: 80%;
    padding: 6px 12px;

    &:hover { background: $grey; }
    &:focus {
      outline: 1px dotted $white;
      outline-offset: -2px;
      background: $grey;
    }

    span {
      font-size: 14px;
    }
    
    svg {
      transform: rotate( 90deg );
      fill: $white;
      margin-left: 6px;

      &.flip {
        transform: rotate( 270deg );
      }
    }
  }

  .textified-text-container {
    padding: 24px;
    border: 2px dashed $black;
    background: $white;
    margin: 30px 0;
    text-align: left;

    h3 {
      font-family: 'Bangers', sans-serif;
      letter-spacing: 2px;
      font-size: 32px;
      margin: 0;
      @media all and ( min-width: $screen-sm ) {
        font-size: 40px;
        margin: 0;
      }
    }
    
    p {
      line-height: 24px;
      font-size: 18px;
      margin: 18px 0 0;
      @media all and ( min-width: $screen-sm ) {
        font-size: 20px;
        line-height: normal;
      }
    }
    
    hr {
      margin: 24px 0;
      border-top: none;
      background: $white;
    }
  }
}
