.blog-navigation-container {
  clear: both;
  border-top: 2px solid $black;
  margin-top: 40px;
  padding-top: 40px;

  .nav-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    a {
      display: inline-flex;
      align-items: center;
      width: 50%;

      &[ rel=next ] {
        justify-content: flex-end;
      }

      .blog-nav-arrow {
        font-size: 32px;
      }

      .blog-text-container {
        display: flex;
        flex-direction: column;
        margin: 0 16px;

        .nav-text {
          font-size: 65%;
          display: inline-block;
          text-transform: uppercase;
          line-height: 1;
          margin-bottom: 8px;
          font-weight: 300;
        }

        .title {
          line-height: 1;
          display: inline-block;
          font-size: 24px;
        }
      }
    }
  }







  .nav-previous,
  .nav-next {
    text-align: center;
    width: 100%;
    margin: 0 0 $grid-padding;
    line-height: 1.25;
    @media all and ( min-width: $screen-sm ) {
      width: 50%;
    }
    

  }

  .nav-previous {
    float: left;
    padding-right: 0;
    @media all and ( min-width: $screen-sm ) {
      text-align: left;
      padding-right: 10px;
    }
  }

  .nav-next {
    float: right;
    padding-left: 0;
    @media all and ( min-width: $screen-sm ) {
      text-align: right;
      padding-left: 10px;
    }
  }
  
  .blog-nav-text {
    font-size: 70%;
    display: inline-block;
    line-height: 1.5;
  }
  
  .blog-title {
    display: inline-block;
  }
}


