.site-footer {
  a {
    color: $light_grey;

    &:hover,
    &:focus,
    &:active {
      color: $grey;

      svg { fill: $grey; }
    }

    svg { fill: $light_grey; }
  }

  .main-footer-background {
    background: $dark_grey;
    border-top: 2px solid $black;
    padding: 40px 0;

    .main-footer-container {
      display: flex;
      max-width: 1170px;
      margin: 0 auto;

      .images-container {
        flex: 2;
        text-align: center;
      }

      .characters-container {
        margin-top: 16px;
        display: flex;
        align-content: center;
        justify-content: space-around;

        img {    
          object-fit: contain;
          max-width: 80px;
          max-height: 80px;
          @media all and ( min-width: $screen-sm ) {
            max-width: 160px;
            max-height: 160px;
          }

          &:last-of-type {
            transform: scaleX(-1);
            @media all and ( min-width: $screen-lg ) {
              transform: none;
            }
          }
        }
      }
    } 

    .menu-container {
      display: flex;
  
      .column-container {
        margin-left: 56px;
  
        ul {
          list-style: none;
          padding: 0;
        }
    
        h2 {
          font-family: 'Bangers', sans-serif;
          letter-spacing: 2px;
          color: $white;
          margin: 0 0 16px;
        }
      }
    }
  }  

  .ip-background {
    background: $black;
    padding: 16px 0;

    .ip-container {
      max-width: 1170px;
      margin: 0 auto;
      display: block;
      color: $white;
      font-size: 14px;
      @media all and ( min-width: $screen-sm ) {
        @include flex;
        align-items: center;
        justify-content: space-between;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        a { font-size: 14px; }
      }
    }
  }
}
