.header-container {
  margin-bottom: 40px;

  .header-background {
    background: $white;
    padding-top: 16px;
  
    .content-container {
      max-width: 1170px;
      width: 100%;
      position: relative;
      margin: 0 auto;
    }
  }
}

a.site-banner {
  &:hover,
  &:focus,
  &:active {
    opacity: .55;
  }

  img {
    max-height: 190px;
  }
}

.social-container {
  a {
    padding: 10px 12px 2px;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
     
      svg {
        fill: $color__link;
      }
    }

    svg {
      height: 22px;
      width: 22px;
      @media all and ( min-width: $screen-xs ) {
        height: 26px;
        width: 26px;
      }
    }
  }
}



@import "misc/header-characters";
