* {
  outline-color: $black;
}

a {
  color: $soft_black;
  font-weight: 600;
  text-decoration: none;
  
  &:hover,
  &:focus,
  &:active {
    color: $grey;
    text-decoration: none;
  }
}

body {
  background: $light_grey; // Fallback for when there is no custom background color defined.
  overflow-x: hidden;
  font-size: 15px;
  @media all and ( min-width: $screen-xs ) {
    font-size: 16px;
  }
  
  @media all and ( min-width: $screen-sm ) {
    font-size: 18px;
  }

  @media all and ( min-width: $screen-ms ) {
    font-size: 20px;
  }
}


blockquote {
  margin: 30px 6px;
  border-left: 4px solid $black;
  font-style: italic;
  background: $lighter_grey;
  padding: 24px;
  @media all and ( min-width: $screen-sm ) {
    margin: 30px;
  }

  p {
    margin: 0;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -2px;
  font-weight: 700;
  color: $black;
  line-height: 1;
  margin: 48px 0 24px;
  
  a {
    font-weight: 700;
  }
}

h1 {
  font-size: 40px;
  @media all and ( min-width: 400px ) {
    font-size: 46px;
  }

  @media all and ( min-width: $screen-md ) {
    font-size: 60px;
  }
}

h2 {
  font-size: 32px;
  @media all and ( min-width: $screen-sm ) {
    font-size: 40px;
  }

  @media all and ( min-width: $screen-md ) {
    font-size: 46px;
  }
}


h3 {
  font-size: 26px;
  @media all and ( min-width: $screen-sm ) {
    font-size: 32px;
  }

  @media all and ( min-width: $screen-md ) {    
    font-size: 40px;
  }
}

img {
  height: auto; // Make sure images are scaled correctly.
  max-width: 100%; // Adhere to container width.
}

p {
  margin-bottom: 24px;
  line-height: 24px;
  font-weight: 100;
  font-size: 18px;
  @media all and ( min-width: $screen-sm ) {
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 24px;
  }
}

ol, ul {
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  padding-left: 24px;
  margin-bottom: 30px;
  margin-left: 0;
  @media all and ( min-width: $screen-sm ) {
    margin-left: 30px;
    padding-left: 30px;
    font-size: 22px;
    line-height: 28px;
  }

  li {
    margin-bottom: 18px;
  }
}

ul {
  list-style-type: square;
}
