.footer-menu {
  background: #333;
  border-top: 2px solid #000;
  padding-top: 1.5em;
  
  img {
    padding-bottom: 1.5em;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  h2 {
    color: WHITE;
  }
  
  li {
   
  }
  
  a {
    color: #ccc;
        display: inline-flex;
    align-items: center;

    &:hover,
    &:focus,
    &:active {
      color: #999;
      
      svg {
        fill: #999;
      }
    }
   
    
  svg {
    fill: #ccc;
    margin-right: .5em;
  }
  }
}

.footer-copyright {
  background: BLACK;
  padding: .5em 0;
  
  span {
    color: WHITE;
    font-size: .7em;
  }
  
   
  a {
    color: #ccc;

    &:hover,
    &:focus,
    &:active {
      color: #999;
    }
  } 
}