.site-footer {
  a {
    color: #ccc;
    display: inline-flex;
    align-items: center;

    svg {
      fill: #ccc;
      margin-right: .5em;
    }

    &:hover,
    &:focus,
    &:active {
      color: #999;
      
      svg {
        fill: #999;
      }
    } 
  }
  
  .footer-banner {
    max-width: 500px;
    width: 100%;
  }
  
  .footer-characters {
    display: flex;
    align-content: center;
    justify-content: space-around;
    
    div {
      width: 150px;
      height: 120px;
    }
    
    img {
      max-height: 100%;
    }
    
    .right {
       transform: scaleX(-1);
      
      @media all and (min-width: $screen-lg) {
        transform: none;
      }
    }
  }

  .footer-menu {
    background: #333;
    border-top: 2px solid #000;
    padding-top: 1.5em;   

    nav {
      max-width: 420px;
      margin: 0 auto;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    h2 {
      color: #fff;
    }
  }

  .footer-copyright {
    background: #000;
    padding-top: .5em;

    span {
      color: #fff;
      font-size: .6em;
      line-height: 1.2;
      padding-bottom: .5em;
    }

    .pull-right {
      padding-left: 1.5em;
    }
  }
}