.site-footer {
  
  a {
    color: $color__link-hover;
    display: inline-flex;
    align-items: center;
    &:hover,
    &:focus,
    &:active {
      color: $color__link;
      
      svg {
        fill: $color__link;
      }
    }
    
    svg {
      fill: $color__link-hover;
      margin-right: .5em;
    }
  }

  .footer-banner {
    max-width: 500px;
    width: 100%;
    margin-bottom: .5em;
  }

  .footer-characters {
    display: flex;
    align-content: center;
    justify-content: space-around;
    
    div {
      width: 120px;
      height: 120px;
    }

    img {
      max-height: 100%;
    }

    .center {
      display: none;
      @media all and ( min-width: $screen-sm ) {
        display: flex;
      }
    }

    .right {
      transform: scaleX( -1 );
      @media all and ( min-width: $screen-lg ) {
        transform: none;
      }
    }
  }

  .footer-menu {
    background: lighten($color__background-dark, 20%);
    border-top: $border-2px;
    padding-top: $grid-padding;
    
    nav {
      max-width: 420px;
      margin: 0 auto;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    h2 {
      color: $color__text-light;
    }
  }

  .footer-copyright {
    background: $color__background-dark;
    padding-top: .5em;
    
    span {
      color: $color__text-light;
      font-size: .6em;
      line-height: 1.2;
      padding-bottom: .5em;
    }

    .pull-right {
      padding-left: $grid-padding;
    }
  }
}
