.site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.site-header {
  flex-grow: 0;
}

.site-content {
  flex-grow: 1;
}

.site-footer {
  flex-grow: 0;
}

.narrow-container {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 15px;
}

.zero-cushion {
  padding: 0;
  margin: 0;
}

.bottom-cushion {
  margin-bottom: $grid-padding;
}

.flex-center {
  @include flex-center;
}
