.site-header {
  margin-bottom: $grid-padding;
}

.site-banner img {
  max-height: 190px;
}

.social-container {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: -124px;
  padding: 3px 3px 0 0;
  line-height: 1.4;
  width: 65px;
  @media all and ( min-width: $screen-sm ) {
    width: 90px;
  }

  @media all and ( min-width: $screen-md ) {
    line-height: 1;
    width: auto;
  }

  @media all and ( min-width: $screen-lg ) {
    right: inherit;
  }

  a {
    margin-right: 4px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }

    @media all and ( min-width: $screen-xs ) {
      margin-right: 5px;
    }

    @media all and ( min-width: $screen-sm ) {
      margin-right: 6px;
    }

    svg {
      height: 22px;
      width: 22px;
      &:hover {
        fill: $color__link;
      }

      @media all and ( min-width: $screen-xs ) {
        height: 26px;
        width: 26px;
      }

      @media all and ( min-width: $screen-sm ) {
        height: 30px;
        width: 30px;
      }

      @media all and ( min-width: $screen-md ) {
        height: 36px;
      }
    }
  }
}

.site-branding {
  background: $color__background-light;

  .col-xs-12 {
    padding: 0 0 30px;
    margin-top: 30px;
    @media all and ( min-width: $screen-md ) {
      padding: 0;
      margin-top: 10px;
    }
  }
}

@import "misc/header-characters";
