.site-header {
  margin-bottom: 1.5em;
  
  .container-fluid {
    padding: 0;
  }
  
  .social-container {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: -124px;
    border-top-left-radius: 6px;
    padding: 3px 3px 0 0;
    line-height: 1;
    
    @media screen and (min-width: $screen-md) {
      right: inherit;
    }
    
    a {
      margin-right: 4px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      } 
       @media screen and (min-width: $screen-xs) {
         margin-right: 5px;
        }
      
       @media screen and (min-width: $screen-sm) {
         margin-right: 6px;
        }
      
      
      svg {
        height: 22px;
        width: 22px;
        
        @media screen and (min-width: $screen-xs) {
          height: 26px;
          width: 26px;
        }
        
        @media screen and (min-width: $screen-sm) {
          height: 30px;
          width: 30px;
        }
        
        @media screen and (min-width: $screen-md) {
          height: 36px;
        }
      }
      
      svg:hover {
        fill: #828282;
      }
    }
  }
}

.site-branding {
  background: #fff;
  
  .col-xs-12 {
    padding: 0;
  }
}






.header-characters {
  div {
    position: absolute;
  }
  
  img {
    max-height: 100%;
  }
  
  .small {
    width: 60px; 
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    @media all and (min-width: $screen-sm) {
      width: 80px;
      height: 80px;
    }
  }
  
  .center-left {
    left: 0;
    top: 41%;
    
    @media all and (min-width: $screen-sm) {
     top: 62%; 
    left: 228px;
  }
  }
  
  .center-right {
     top: 58%; 
    right: 348px;
  }
  
  .large {
    width: 200px;
    height: 200px;
    display: none;
    text-align: right;
    @media all and (min-width: 992px) {
      display: block;
    }
  }
  
  .far-far-left,
  .far-far-right {
    display: none;
    @media all and (min-width: 1500px) {
      display: block;
    }
  }
  
  .far-right,
  .far-left {
    display: none;
    @media all and (min-width: 1250px) {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
  
  .right,
  .far-right,
  .far-far-right,
  .center-right {
    transform: scaleX(-1);
  }
  

  .far-far-left {
    top: 6%;
    left: -237px;
    z-index: 2;
  }
  
  .far-left {
    top: 17%;
    left: -108px;
    z-index: 3;

  }
  
  .left {
    top: 3%;
    left: -94px;
    @media all and (min-width: 1200px) {
      left: 8px;
    } 
  }
  
  .right {
    top: 16%;
    right: -94px;
    z-index: 2;
    display: none;
    @media all and (min-width: 992px) {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
    @media all and (min-width: 1200px) {
      right: 0;
    } 
  }
  
  .far-right {
    top: 1%;
    right: -123px;
    align-items: flex-start;
  }
  
  .far-far-right {
    top: 13%;
    right: -238px;
    z-index: 2;
    display: none;
    @media all and (min-width: 1200px) {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}
