.blog-post-container {
  article {
    background: $white;
    padding: 16px;
    border: 2px solid $black;

    header {
      margin-bottom: 32px;

      h1 { margin: 0 0 8px; }  
      span { font-size: 75%; }
    }
  }

  .blog-content {
    display: inline-block;

    .image-container {
      float: left;
      text-align: center;
      margin: 0 16px 16px 0;

      img {
        border: 2px solid $black;
        box-shadow: 0 0 4px $black;        
      }

      .textified {
        max-width: 400px;
      }
    }
    
    .content-container {
      h1, h2, h3, h4, h5 {
        font-family: 'Open Sans', sans-serif;
        letter-spacing: -1px;
        font-weight: 800;
        color: #000;
        line-height: 1;
        margin: 0 0 .5em;
        transform: none;
      }
    }
  }
}
