.blog-post-container {
  article {
    background: white;
    padding: 16px;
    border: 2px solid black;
  }

  .post-thumbnail {
    border: $border-2px;
    margin: 1em auto 0;
    display: inline-block;
  }
  
  .entry-content {
    margin: 0;
    clear: both;
  }

  h1 {
    margin: 0 0 8px;
  }
  
  .entry-header {
    margin-bottom: 32px;

    .entry-meta {
      font-size: 75%;
    }
  }

  h2, h3 {
    margin-top: $grid-padding;
  }
}
