.widget-area {
  max-width: 320px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }
  
  li {
    line-height: 1.3;
    margin-bottom: .5em;
  }
  
  ol,
  ul {
    list-style: none;
    padding: 0;
  }
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget::after {
  content: "";
  border-bottom: 2px solid #000;
  display: block;
  margin: 0 20%;
}