// .main-navigation {
//   background: $white;
//   padding-top: 12px;
//   margin-top: -1px;
//   @media all and ( min-width: $screen-md ) {
//     border-bottom: $border-2px;
//   }

//   .menu-toggle {
//     display: -moz-box !important; // Required for firefox on windows
//     @include flex-center;
//     width: 100%;
//     border: none;
//     border-radius: 0;
//     background: $black;
//     padding: 18px;
//     @media all and ( min-width: $screen-md ) {
//       display: none !important; // !important required for firefox on windows
//     }
    
//     &:hover,
//     &:focus {
//       background: $grey;
//     }
      
//     span.button-text {
//       text-transform: uppercase;
//       font-weight: 600;
//       font-size: 18px;
//       line-height: 1;
//       color: $white;
//     }

//     .main-menu-icon {
//       @include transform-rotate( 0deg );
//       width: 18px;
//       height: 12px;
//       display: inline-block;
//       margin-left: 6px;
//       cursor: pointer;
    
//       span {
//         @include transform-rotate( 0deg );
//         @include transform-menu-speed();
//         display: block;
//         position: absolute;
//         height: 2px;
//         width: 100%;
//         background: $white;
//         left: 0;

//         &:nth-child(2),
//         &:nth-child(3) {
//           top: 5px;
//         }

//         &:nth-child(1) { top: 0px; }
//         &:nth-child(4) { top: 10px; }
//       }
    
//       &.open span {
//         @include transform-menu-speed();
//         &:nth-child(1),
//         &:nth-child(4) {
//           top: 5px;
//           width: 0%;
//           left: 50%;
//         }
    
//         &:nth-child(2) { @include transform-rotate( 45deg ); }
//         &:nth-child(3) { @include transform-rotate( -45deg ); }
//       }
//     }    
//   }
  
//   .main-nav-menu {
//     @media all and ( min-width: $screen-md ) { 
//       display: flex;
//       height: auto !important;
//       justify-content: center;
//       align-items: center;
//     }  
    
//     &.in {
//       display: flex;
//     }

//     ul {
//       border: $border-2px;
//       border-top: none;
//       margin: 0;
//       padding-left: 0;
//       width: 100%;
//       @media screen and ( min-width: $screen-md ) {
//         border: none;
//         width: inherit;
//       }

//       li {
//         text-align: center;
//         margin-bottom: 0;
//         @media all and ( min-width: $screen-md ) {
//           display: inline-block;
//         }

//         a {
//           padding: 18px 12px;
//           display: block;
//           text-transform: uppercase;
//           color: $black;
//           @media all and ( min-width: $screen-lg ) {
//             padding: 18px;
//           }
    
//           &:hover,
//           &:focus,
//           &:active {
//             color: $black;
//             background: $lighter_grey;
//             @media all and ( min-width: $screen-md ) {
//               color: $grey;
//               background: transparent;
//             }
//           }
//         }
//       }
//     }
//   }

//   div.social-container a {
//     &:hover,
//     &:focus {
//       svg { fill: $grey; }
//     }
//   }
// }
