@import "menus";

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    overflow: hidden;
    margin: 0;
  }

  .nav-previous,
  .nav-next {
    text-align: center;
    width: 100%;
    margin: 0 0 $grid-padding;
    line-height: 1.25;
    @media all and ( min-width: $screen-sm ) {
      width: 50%;
    }
    
    a {
      display: inline-flex;
      flex-direction: column;
      // border: 2px solid black;
      // padding: 24px;
      // background: white;
      color: black;
    }
  }

  .nav-previous {
    float: left;
    padding-right: 0;
    @media all and ( min-width: $screen-sm ) {
      text-align: left;
      padding-right: 10px;
    }
  }

  .nav-next {
    float: right;
    padding-left: 0;
    @media all and ( min-width: $screen-sm ) {
      text-align: right;
      padding-left: 10px;
    }
  }
  
  .blog-nav-text {
    font-size: 70%;
    display: inline-block;
    line-height: 1.5;
  }
  
  .blog-title {
    display: inline-block;
  }
}
