.comic-header {
  line-height: 1;
  margin-bottom: .25em;
}

.comic-strip {
  margin: 0 0 1.5em;
  position: relative;
  
  .placeholder-image span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $lightest_shade;
    border: 2px solid $darkest_shade;
    width: 500px;
    height: 400px;
    z-index: -1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    padding: 30px;
    line-height: 1;
    font-weight: 900;
    text-shadow: 0px 0px 0px $darkest_shade;
    color: $darkest_shade;
    animation: loadingText .4s ease-in-out infinite alternate;
  }
  
  @keyframes loadingText {
    to {
      text-shadow: 0 0 3px $dark_shade; 
      color: $dark_shade;
    }
  }
  
  img {
    border: $border-2px;
    min-height: 400px;
  }
  
  .entry-meta {
    line-height: 1;
  }
  
  .posted-on {
    font-size: .75em;
  }
}

.comic-navigation-container {
  line-height: 1;
  margin-bottom: $grid-padding;

  .comic-navigation {
    max-width: 567px;
    margin: 0 auto;
    
    div  {
      padding: 0;
      width: 20%;
      float: left;
      position: relative;
      min-height: 1px;    
    }
    
    a {
      font-size: 1.1em;
      letter-spacing: -2px;
      background: BLACK;
      color: $color__text-light;
      padding: 8px 2px 8px 0;
      border-radius: 4px;
      display: block;
      margin: 0 4px;
      &:hover,
      &:focus {
        background: $color__background-button;
      }
      
      @media all and ( min-width: $screen-xs ) {
        font-size: 1.2em;
        letter-spacing: -3px;
      }
    
      @media all and ( min-width: $screen-md ) {
        font-size: 1.6em;
        padding: 8px 6px 8px 0;
        letter-spacing: -4px;
      }
    }
  }
}
