@mixin global-ad-settings( $heading, $link-color ) {
  content: $heading;
  font-size: 50%;
  display: block;
  color: $link-color;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: -12px;
  @media all and ( min-width: $screen-ms ) {
    top: -15px;
  }
}

.ad-container {
  max-width: 970px;
  clear: both;
  position: relative;
  margin: 0 auto;
  
  ins.adsbygoogle {
    margin: 0 0 $grid-padding;
    &::before {
      @include global-ad-settings( "Advertisement by Google", $color__link );
    }
  }
  
  ins.top-of-page-ad {
    display: none !important;
    
    @media all and ( min-width: $screen-sm ) {
      display: block !important;
    }
  }
}

.promo-container {
  max-width: 970px;
  clear: both;
  position: relative;
  margin: 0 auto;
  &::before {
    @include global-ad-settings( "Promo by Comic Rocket", $color__link );
  }
  
  img {
    margin: 0 0 $grid-padding;
  }
}
