table {
  margin: 0 0 $grid-padding;
  width: 100%;
  border: $border-2px;
  background: $color__background-screen;
  line-height: 1.25;
}

thead {
  background: $color__background-hr;
}

td, th {
  padding: 10px;
  border: $border-2px;
}
