ul, ol {
  margin: 0 0 1.5em;
  padding-left: 20px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
  
  li {
    padding-left: 3px;
  }
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0;
}

li {
  font-weight: normal;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}
