.main-navigation {
  clear: both;
  float: left;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #000;
  background: #fff;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {}

      a:hover,
      a.focus {}
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 16px;
    @media screen and (min-width: $screen-md) {
      display: inline-block;
      text-align: left;
    }

    &:hover > a,
    &.focus > a {}
  }

  a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    &:visited {
      color: #000;
    }
    &:hover,
    &:focus {
      color: $color__link-hover;
    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {}
}

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: $screen-md) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
    text-align: center;
  }
}
.comment-navigation,
.posts-navigation,
.post-navigation {  
  .site-main & {
    overflow: hidden;    
    margin: 0 0 1.5em;
  }
  
  .nav-previous,
  .nav-next {
    text-align: center;
    width: 100%;
    margin: 0 0 1.5em;
    line-height: 1.25;
    @media all and (min-width: $screen-sm) {
      width: 50%;
    }
  }
  
  .nav-previous {
    float: left;
    padding-right: 0;
    @media all and (min-width: $screen-sm) {
      text-align: left;
      padding-right: 10px;
    }
  }

  .nav-next {
    float: right; 
    padding-left: 0;
    @media all and (min-width: $screen-sm) {
      text-align: right;
      padding-left: 10px;
    }
  }
}

.main-menu-button {
  border: none;
  background: none;
  font-size: 1em;
  padding: 6px;

}
  