.main-navigation {
  clear: both;
  float: left;
  width: 100%;
  background: $color__background-light;
  @media all and ( min-width: $screen-md ) {
    border-bottom: $border-2px;
  }
  
  .menu-main-menu-container {
    display: inline-block;
    width: 100%;
    @media all and ( min-width: $screen-md ) {
      width: inherit;
    }
  }  

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    @media screen and ( min-width: $screen-md ) {
      display: block;
      text-align: center;
    }

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li:hover > ul,
      li.focus > ul {
        left: 100%;
      }

      a {
        width: 200px;
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    position: relative;
    display: block;
    text-align: center;
    border: $border-2px;
    border-top: none;
    @media all and ( min-width: $screen-md ) {
      display: inline-block;
      text-align: left;
      border: none;
    }

    a {
      padding: 8px 12px;
      &:hover,
      &:focus,
      &:active {
        color: $color__text-main;
        background: $color__background-screen;
        @media all and ( min-width: $screen-md ) {
          color: $color__link-hover;
          background: transparent;
        }
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: $color__text-main;
    &:visited {
      color: $color__text-main;
    }
    
    &:hover,
    &:focus {
      color: $color__link-hover;
    }
  }
}

.menu-toggle {
  display: -moz-box !important; // Required for firefox on windows
  @include flex-center;
  width: 100%;
  border: none;
  border-radius: 0;
  background: $color__background-dark;
  color: $color__text-light;
  padding: 10px;
  font-size: 1em;
  @media all and ( min-width: $screen-md ) {
    display: none;
  }
}

.main-navigation.toggled ul {
  display: block;
  margin: 0 auto;
}



.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    overflow: hidden;
    margin: 0;
  }

  .nav-previous,
  .nav-next {
    text-align: center;
    width: 100%;
    margin: 0 0 $grid-padding;
    line-height: 1.25;
    @media all and ( min-width: $screen-sm ) {
      width: 50%;
    }
  }

  .nav-previous {
    float: left;
    padding-right: 0;
    @media all and ( min-width: $screen-sm ) {
      text-align: left;
      padding-right: 10px;
    }
  }

  .nav-next {
    float: right;
    padding-left: 0;
    @media all and ( min-width: $screen-sm ) {
      text-align: right;
      padding-left: 10px;
    }
  }
}

.main-menu-button {
  border: none;
  background: none;
  font-size: 1em;
  padding: 6px;
}

.navbar-collapse {
  padding: 0;
  border-top: none;
  
  &.collapse {
    @include flex;
    display: flex !important; // necessary to override bootstrap
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transform-menu-speed();
}

.main-menu-icon {
  @include transform-rotate( 0deg );
  width: 20px;
  height: 14px;
  display: inline-block;
  margin-left: 6px;
  cursor: pointer;

  span {
    @include transform-rotate( 0deg );
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $color__background-light;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    &:nth-child( 1 ) {
      top: 0px;
      opacity: 1;
    }
  
    &:nth-child( 2 ),
    &:nth-child( 3 ) {
      top: 5px;
    }

    &:nth-child( 4 ) {
      top: 10px;
      opacity: 1;
    }
  }
}

.main-menu-icon.open span {
  @include transform-menu-speed();
  &:nth-child( 1 ),
  &:nth-child( 4 ) {
    top: 5px;
    width: 0%;
    left: 50%;
    opacity: 0;
  }

  &:nth-child( 2 ) {
    @include transform-rotate( 45deg );
  }

  &:nth-child( 3 ) {
    @include transform-rotate( -45deg );
  }
}
