.blog-navigation-container {
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: -12px;
  @media all and ( min-width: $screen-sm ) {
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 42px;
  }

  span.title {
    margin: 0 12px;
  }

  a {
    display: inline-flex;
    align-items: center;
    line-height: normal;

    &:nth-child( even ) {
      justify-content: flex-end;
      text-align: right;
      margin-top: 30px;
      @media all and ( min-width: $screen-sm ) {
        margin-top: 0;
      }
    }

    .blog-nav-arrow {
      font-size: 24px;
    }

    .blog-post-text-container {
      display: flex;
      flex-direction: column;
      margin: 0 12px;

      .nav-text {
        font-size: 12px;
        text-transform: uppercase;
        line-height: normal;
        font-weight: 400;
        margin-bottom: 6px;
      }

      .title {
        line-height: 1;
        font-size: 20px;
        margin: 0;
        @media all and ( min-width: $screen-sm ) {
          font-size: 24px;
        }
      }
    }
  } 
}
