.comic-navigation-container {
  line-height: 1;
  max-width: 640px;
  display: flex;
  margin: 30px auto;
  
  .button-container {
    width: 20%;
      
    a {
      font-size: 24px;
      letter-spacing: -2px;
      background: $black;
      color: $white;
      padding: 8px 0;
      border-radius: 4px;
      display: block;
      margin: 0 8px;

      &:hover,
      &:focus {
        background: $grey;
      }
      
      @media all and ( min-width: $screen-xs ) {
        font-size: 28px;
      }
    
      @media all and ( min-width: $screen-md ) {
        font-size: 32px;
      }
    }
  }
}
