.header-container {
  margin-bottom: 40px;

  .header-background {
    background: $white;
    padding-top: 16px;
  
    .content-container {
      max-width: 1170px;
      width: 100%;
      position: relative;
      margin: 0 auto;
    }
  }
}





a.site-banner {
  &:hover,
  &:focus,
  &:active {
    opacity: .55;
  }

  img {
    max-height: 190px;
  }
}





