.social-share-container {
  margin-bottom: 1em;
  
  h3 {
    margin-bottom: .125em;
  }

  .social-share-button {
    background: $color__background-dark;  
    padding: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    &:hover {
      background: $color__link;
    }
    
    @media all and ( min-width: $screen-md ) {
      padding: 8px;
    }

    svg {
      fill: $color__text-light;
    }
  }
}