.site {
  @include flex;
  flex-direction: column;
  height: 100%;
}

.site-header,
.site-footer {
  height: 20%;
  @include flex-grow( 1 );
}

.site-content {
  height: 60%;
  @include flex-grow( 2 );
}

.zero-cushion {
  padding: 0;
  margin: 0;
}

.bottom-cushion {
  margin-bottom: $grid-padding;
}

.flex-center {
  @include flex-center;
}

/////////////////////////////////////////
/////////////////////////////////////////
/////////////// good class //////////////
/////////////////////////////////////////
/////////////////////////////////////////
