p {
  margin-bottom: $grid-padding;
  font-weight: 100;
  font-size: 24px;
}

blockquote {
  margin: 0 0 $grid-padding;
  border-left: 4px solid #000;
  font-style: italic;
  background: $color__background-screen;
}

pre {
  background: $color__background-pre;
  font-family: $font__pre;
  @include font-size( 1.5 );
  line-height: $font__line-height-pre;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: $font__code;
  @include font-size( 0.9375 );
}

code {
  font-size: 85%;
  color: #f1f1f1;
  background-color: $color__background-dark;
  border-radius: 2px;
  max-width: 100%;
  overflow: auto;
  display: inline-block;
  white-space: pre;
  line-height: 1.25
}

mark, ins {
  background: $color__background-ins;
  text-decoration: none;
}
