.page-not-found-container {
  margin-bottom: 42px;

  .page-title {
    font-family: 'Bangers', sans-serif;
    letter-spacing: 6px;
    line-height: 1;
    margin: 42px 0 36px;
    font-size: 72px;
    text-align: center;
  }

  h2 {
    font-weight: 100;
    font-size: 40px;
    margin: 0 0 36px;
  }

  img {
    &:nth-of-type( odd ) {
      float: left;
      margin: 0 18px 18px 0;
    }

    &:nth-of-type( even ) {
      float: right;
      margin: 0 0 18px 18px;
      transform: scaleX(-1);
    }
  }
}
