.archive-page-container {
  margin-bottom: 42px;

  .content-container {
    padding-top: 42px;
    display: flex;
    margin-bottom: 18px;
    
    h2 {
      font-family: 'Bangers', sans-serif;
      letter-spacing: 1px;
      margin: 0 0 30px;
    }
  }

  .archive-column {
    flex: 1;

    &:first-of-type {
      border-bottom: 2px solid $black;
      margin-bottom: 66px;
      @media all and ( min-width: $screen-md ) {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  
    li {
      line-height: 24px;
      margin-bottom: 24px;
    }
  }
}
