.archive-page-container {
  margin-bottom: 42px;

  .content-container {
    padding-top: 42px;
    display: flex;
    margin-bottom: 18px;
    flex-direction: column;
    text-align: center;
    @media all and ( min-width: $screen-ms ) {
      flex-direction: row;
      text-align: left;
    }
    
    h2 {
      font-family: 'Bangers', sans-serif;
      letter-spacing: 2px;
      margin: 0 0 30px;
      font-size: 32px;
      @media all and ( min-width: $screen-sm ) {
        font-size: 40px;
      }
    }
  }

  .archive-column {
    flex: 1;

    &:first-of-type {
      margin-bottom: 42px;
      @media all and ( min-width: $screen-md ) {
        margin-bottom: 0;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 18px;
    @media all and ( min-width: $screen-sm ) {
      font-size: 22px;
    }
  
    li {
      line-height: 1;
      margin-bottom: 18px;
      @media all and ( min-width: $screen-sm ) {
        margin-bottom: 24px;
      }
    }
  }
}
