.blog-page-container {
  header.blog-page-header {
    margin-bottom: 32px;
  }

  .blog-posts-list {
    background: $soft_white;
    padding-bottom: 18px;
    max-width: 690px;
    margin: 42px auto;

    h1 {
      font-family: 'Bangers', sans-serif;
      letter-spacing: 4px;
      line-height: 1;
      margin: 16px 0;
      font-size: 72px;
    }

    article {
      border-bottom: 4px solid $black;
      margin: 0 0 40px !important;

      h2 {
        font-size: 42px;
        margin: 0 0 32px;
  
        a {
          color: $black;
  
          &:hover,
          &:active,
          &:focus {
            color: $grey;
          }
        }
      }

      .content-container {
        display: flex;
        margin-bottom: 24px;
        max-width: none;

        a.feature-image-container {      
          border: 2px solid $black;
          margin: 0 16px 16px 0;
          width: 100%;
          max-height: 300px;
          max-width: 400px;
          overflow: hidden;

          &:hover,
          &:focus {
            opacity: .7;        
          }
        }

        .excerpt-container {
          flex-shrink: 2;
        
          p { margin-bottom: 0; }

          .read-more {
            margin: 16px 0;
            display: inline-block;
            line-height: 30px;
            font-weight: 600;
            font-size: 18px;
          }
        }
      }
    }    
  }
}
