.blog-page-container {
  margin-bottom: 42px;

  article {
    margin: 0 auto;
    max-width: 690px;

    h2 {
      font-size: 30px;
      margin: 0 0 24px;
      display: inline-block;
      @media all and ( min-width: $screen-sm ) {
        font-size: 42px;
      }
    }

    a {
      color: $black;

      &:hover,
      &:active,
      &:focus {
        color: $grey;
      }
    }

    .article-content-container {
      display: flex;
      flex-direction: column;
      @media all and ( min-width: $screen-sm ) {
        flex-direction: row;
      }

      .feature-image-container {      
        border: 2px solid $black;
        margin: 0 24px 24px 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 300px;
        max-width: 400px;
        overflow: hidden;
        @media all and ( min-width: $screen-sm ) {
          margin: 0 24px 0 0;
        }

        &:hover,
        &:focus {
          opacity: .7;        
        }
      }

      .excerpt-container {
        flex-shrink: 2;
      
        p { margin-bottom: 0; }

        .read-more {
          margin: 18px 0 0;
          display: block;
          line-height: 1;
          font-weight: 600;
          font-size: 18px;
          float: right;
          transform: none;
        }
      }
    }
  }
}
