.blog-post-container {
  header {
    margin: 42px 0 30px;

    .page-title {
      font-family: 'Bangers', sans-serif;
      letter-spacing: 6px;
      line-height: 1;
      margin: 42px 0 6px;
      font-size: 72px;
    }

    span { 
      font-size: 14px;
      font-weight: 400;
    }
  }

  .image-container {
    text-align: center;

    img {
      border: 2px solid $black;
      margin-bottom: 30px;
    }

    .textified-container {
      button {
        margin: 0 auto 30px;
      }

      .textified-text-container {
        margin: 30px auto;
        max-width: 400px;
      }
    }
  }

  h2, h3, h4 {
    margin-top: 42px;
    margin-bottom: 30px;
  }

  a {
    img {
      transition: none;
    }

    &:active,
    &:focus,
    &:hover {
      img {
        transition: none;
        opacity: .7;
      }  
    }        
  }
}
