.comic-post-container {
  article {
    background: $soft_white;

    .comic-header {
      font-family: 'Bangers', sans-serif;
      letter-spacing: 2px;
      line-height: 1;
      margin: 30px 0;
      font-size: 48px;
      @media all and ( min-width: $screen-sm ) {
        font-size: 72px;
        letter-spacing: 4px;
      }
    }
    
    .comic-strip-container {
      margin: 0 0 30px;
      position: relative;

      .placeholder-image {
        font-family: 'Bangers', sans-serif;
        position: absolute;
        left: 0;
        right: 0;
        background: $white;
        border: 2px solid $black;
        letter-spacing: 4px;
        width: 100%;
        max-width: 500px;
        height: 400px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        text-shadow: 0px 0px 0px $black;
        color: $black;
        animation: loadingText .4s ease-in-out infinite alternate;
        @keyframes loadingText {
          to {
            text-shadow: 0 0 3px $grey; 
            color: $grey;
          }
        }
      }
      
      img {
        border: 2px solid $black;
        min-height: 400px;
        z-index: 1;
        position: relative;
      }
      
      .posted-on {
        display: block;
        font-size: 75%;
        margin-bottom: 6px;
      }
    }
  }  
}
