.comic-header {
  line-height: 1;
  margin-bottom: .25em;
}

.comic-strip {
  margin: 0 0 1em;
  
  img {
    border: $border-2px;
  }
  
  .entry-meta {
    line-height: 1;
  }
  
  .posted-on {
    font-size: .75em;
  }
}

.comic-navigation-container {
  line-height: 1;
  margin-bottom: $grid-padding;

  .comic-navigation {
    max-width: 567px;
    margin: 0 auto;
    
    div  {
      padding: 0;
      width: 20%;
      float: left;
      position: relative;
      min-height: 1px;    
    }
    
    a {
      font-size: 1.1em;
      letter-spacing: -2px;
      background: $color__background-button;
      color: $color__text-light;
      padding: 8px 2px 8px 0;
      border-radius: 4px;
      display: block;
      margin: 0 4px;
      &:hover {
        background: $color__link-hover;
      }
      
      @media all and ( min-width: $screen-xs ) {
        font-size: 1.2em;
        letter-spacing: -3px;
      }
    
      @media all and ( min-width: $screen-md ) {
        font-size: 1.6em;
        padding: 8px 6px 8px 0;
        letter-spacing: -4px;
      }
    }
  }
}
