
.comic-header {
  line-height: 1;
  margin-bottom: .5em;
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 0;

    @media all and (min-width: $screen-xs) {
      font-size: 3em;
    }
    
    @media all and (min-width: $screen-md) {
      font-size: 3.5em;
    }
  }
}

.comic-strip {
  margin: 0 0 1em;
  
  img {
    border: 2px solid #000;
  }
  
  .entry-meta {
    line-height: 1;
  }
  
  .posted-on {
    font-size: .75em;
  }
}

.comic-archive {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    line-height: 1.3;
    margin-bottom: 0.5em;
  }
}

.comic-navigation-container {
  line-height: 1;
  margin-bottom: 1em;
  

.comic-navigation {
      max-width: 567px;
    margin: 0 auto;
  
  div  {
    padding: 0;
  }
    
  a {
    font-size: 1.2em;
    letter-spacing: -4px;
    padding-right: 7px;
    @media all and (min-width: $screen-xs) {
      font-size: 1.5em;
    }
    
    @media all and (min-width: $screen-md) {
      font-size: 2em;
      letter-spacing: -6px;
      }
    }
  }
}
