.comic-header {
  line-height: 1;
  margin-bottom: 0.25;
}

.comic-strip {
  margin: 0 0 1em;
  
  img {
    border: $border-2px;
  }
  
  .entry-meta {
    line-height: 1;
  }
  
  .posted-on {
    font-size: .75em;
  }
}

.comic-navigation-container {
  line-height: 1;
  margin-bottom: 1em;

  .comic-navigation {
    max-width: 567px;
    margin: 0 auto;
    
    div  {
      padding: 0;
    }
    
    a {
      font-size: 1.2em;
      letter-spacing: -3px;
      padding-right: 7px;
      @media all and ( min-width: $screen-xs ) {
        font-size: 1.5em;
      }
    
      @media all and ( min-width: $screen-md ) {
        font-size: 2em;
        letter-spacing: -6px;
      }
    }
  }
}
