.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comments-area {
  border-top: 2px solid black;
  padding-top: $grid-padding;
  
  ol {
    list-style: none;
    padding-left: 0;
  }
}
