.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.blog-posts {
  h2 {
     font-size: 2em;

  @media all and (min-width: $screen-xs) {
    font-size: 2.5em;
  }
    
    a {
      color: #000;
      
      &:hover,
      &:active,
      &:visited {
        color: #000;
      }
    }
}

  
  article {
    border-bottom: 2px solid black;
    
    p {
      margin-bottom: 10px;
    }
  }
}