.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.blog-posts-list,
.blog-post {
     .entry-content {
      margin: 0 0 1.5em;
    }
}

.blog-posts-list {
  h2 {
     font-size: 2em;

  @media all and (min-width: $screen-xs) {
    font-size: 2.5em;
  }
    
    a {
      color: #000;
      
      
      
      &:hover,
      &:active,
      &:focus {
        color: $color__link;
      }
    }
  }
  
  .post-thumbnail {
    display: table;
    margin: 0 auto .5em;
    
    &:hover {
      opacity: .8;
    }
  }

  
  article {
    border-bottom: 2px solid black;
    margin: 0 0 1.5em;
    
    p {
      margin-bottom: 0;
    }
    
    .read-more {
      margin-top: .5em;
      display: inline-block;
    }
  }
}

.blog-post {

}